* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: radial-gradient(
    circle at center,
    #0b1a3a 0%,
    #050b1f 40%,
    #020616 100%
  );
  color: white;
}


/* MENU */
.menu {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 100;
}


.menu button {
  background: linear-gradient(90deg, #007bff, #00eaff);
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
}

/* SECCIONES */
.seccion {
  display: none;
  justify-content: center;
}

.seccion.activa {
  display: flex;
}

/* CARD */
.card-info {
  background: linear-gradient(145deg, #06163a, #020818);
  border-radius: 20px;
  padding: 30px;
  width: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-shadow: 0 0 30px rgba(0, 180, 255, 0.25);
}

/* AVATAR */
..avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;

  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}

.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* TEXTO */
.nombre {
  margin: 10px 0 5px;
}

.sub {
  color: cyan;
  margin-bottom: 20px;
}

/* QA */
.qa {
  margin-bottom: 15px;
}

.q-btn {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #0066ff, #00e0ff);
  box-shadow: 0 0 15px rgba(0, 180, 255, 0.6);
  transition: transform 0.2s ease;
}

.q-btn:hover {
  transform: scale(1.03);
}


.vermas {
  margin-top: 8px;
  background: #00c3ff;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.more {
  display: none;
  margin-top: 8px;
}

